/* ######################## navbar ###################################### */

/* media queries para logos navbar*/
@media only screen and (min-width: 992px) {
    #logo-navbar_left {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #logo-navbar_center {
        display: none;
    }
}


/* para que el navbar no tape el demas contenido */
main {
    margin-top: 61.5px;
}

/*##################### footer ############################### */

@media only screen and (max-width: 768px) {
    #biografia-footer{
        order: 2;
        margin-top: 50px;
    }  
}

/*##################### pag. Contacto ############################### */

/* mapa */
.map-responsive {
    overflow: hidden;
}

#map {
    width: 400px;
    height: 380px;
}

@media only screen and (max-width: 768px) {
    #map {
        width: 100%;
    }
}

/* inputs form */
#exampleFormControlTextarea1 {
    resize: none;
}

/* container form */
@media only screen and (max-width: 768px) {
    .row-contact #col-1-contact {
        order: 2;
    }
}

#col-2-contact {
    border: 1px solid grey;
}

@media only screen and (max-width: 768px) {
    #col-2-contact {
        border-bottom: 1px solid black;
        padding-bottom: 48px;
        margin-bottom: 48px;
    }
}
