h1 {
    font-family: sans-serif
}

h3{
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(0, 255, 149);
}

/* ######################## navbar ###################################### */

/* media queries para logos navbar*/
@media only screen and (min-width: 992px) {
    #logo-navbar_left {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #logo-navbar_center {
        display: none;
    }
}


/* para que el navbar no tape el demas contenido */
main {
    margin-top: 61.5px;
}

/*##################### footer ############################### */

@media only screen and (max-width: 768px) {
    #biografia-footer {
        order: 2;
        margin-top: 50px;
    }
}

/*##################### pag. Inicio ############################### */

/* para pasar el aside hacia arriba en mobile */
@media only screen and (max-width: 768px) {
    #entradas-inicio {
        order: 6;
    }
}

/* para ocultar publicidad en mobile */
@media only screen and (max-width: 768px) {
    #publicidad-aside {
        display: none;
    }
}

/* para las imagenes no queden sobre la barra de categorias */
#publicidad-aside {
    z-index: 1;
}

/* para que el tamaño del textarea no se modifique */
/* textarea{
    resize: none;
} */


/*##################### pag. Contacto ############################### */

/* mapa */
.map-responsive {
    overflow: hidden;
}

#map {
    width: 400px;
    height: 380px;
}

@media only screen and (max-width: 768px) {
    #map {
        width: 100%;
    }
}

/* inputs form */
#exampleFormControlTextarea1 {
    resize: none;
}

/* container form */
@media only screen and (max-width: 768px) {
    .row-contact #col-1-contact {
        order: 2;
    }
}

#col-2-contact {
    border: 1px solid grey;
}

@media only screen and (max-width: 768px) {
    #col-2-contact {
        border-bottom: 1px solid black;
        padding-bottom: 48px;
        margin-bottom: 48px;
    }
}